# ======================
# Java / Spring Boot
# ======================
target/
*.class
*.log

# ======================
# React / Node
# ======================
node_modules/
dist/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
**/venv/

# ======================
# Runtime / Generated
# ======================
uploads/

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db